:root {
    --white: #fff;
    --black: #111;
    --blue: blue;
    --yellow: yellow;
    --greyTrans: #8a8a8a8a;
}

html {
    background: var(--white);
    color: var(--black);
    font-size: 100%;
    font-family: sans-serif;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header picture svg {
    max-height: 125px;
    max-width: 125px;
    margin: 1rem 1rem 0;
}

footer p {
    font-size: .8rem;
    text-align: center;
    padding: 4rem 0 12rem;
}

section {
    margin: 0 auto;
    max-width: 550px;
}

h1, h2, h3, h4, h5, h6, p, label {
    padding: 0 1rem;
}

h2 {
    max-width: 550px;
    margin-top: 7rem;
}

header h6 {
    padding-left: 1.2rem;
}

p, input, details {
    margin: 0 auto;
    max-width: 550px;
}

p {
    font-weight: 200;
}

ul {
    margin: .5rem 0 0;
    list-style: inside;
}

ul li {
    margin-bottom: .65rem;
}

ul > p {
    /*padding-left: 1.85rem;*/
    margin-bottom: .5rem;
    background: #eee;
}

ul li p:last-child {
    font-size: .85rem;
}

label {
    display: block;
    margin-top: .125rem;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
}

label.small {
    font-weight: 400;
}

input {
    display: block;
    max-height: 100px;
    margin: .125rem 1rem;
    padding: .5rem;
    border: 2px solid var(--black);
    border-radius: 0;
    font-size: 1rem;
}

input.large {
    font-size: 1.45rem;
}

input[type="color"] {
    display: inline;
    padding: 0;
}

input[type="radio"] {
    display: inline;
}

button {
    display: block;
    margin: .25rem auto;
    padding: .5rem 1rem;
    color: var(--white);
    background: var(--blue);
    font-size: 1rem;
    border: none;
    border-radius: 0;
}

button:active {
    background: var(--black);
}

button.delete, button.edit {
    display: inline;
    margin: 0 .5rem;
    padding: .125rem .5rem;
}

button.edit {
    padding: .125rem 1rem;
}

@media (min-width: 768px) {
    .flex-row > button:not(:last-child) {
        margin: 0 .5rem 0 0;
    }
}

details {
    width: 100%;
    padding: .35rem 0 0 1rem;
}

summary {
    margin-right: 1rem;
    margin-bottom: .5rem;
    padding: 1px;
    color: var(--white);
    background: var(--blue);
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row > * {
    flex-grow: 1;
}

@media (min-width: 768px) {
    .flex-row {
        flex-direction: row;
    }
}

.inline-icon {
    height: 1.125rem;
    width: 1.125rem;
    margin-right: .125rem;
    vertical-align: -.2rem;
}

.hiding {
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
}

.hiding.active {
    pointer-events: all;
    opacity: 1;
}

.prevent-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-default {
    cursor: default;
}

.inline {
    display: inline;
    width: 0;
}

.control {
    margin-left: .325rem;
    font-size: .75rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    vertical-align: .125rem;
}

@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    57% {
        transform: scaleY(.85);
    }

    60% {
        transform: scaleY(1.1);
    }

    68% {
        transform: scaleY(.9);
    }

    85% {
        opacity: 1;
    }

    100% {
        background-position: 100% 50%;
        opacity: 0
    }
}

@keyframes swellFade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    57% {
        transform: scaleY(.93);
    }

    60% {
        transform: scaleY(1.05);
    }

    68% {
        transform: scaleY(.95);
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}

@keyframes simpleFade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}

#form > section, #form > section details > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#form > section input, #form > section details > div > input {
    flex-grow: 1;
}

section#layer-edit, section#link-edit {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding: 1rem 0;
    background: var(--white);
    box-shadow: 0 0 16rem var(--black);
    transition: background .125s, opacity .25s;
    z-index: 25;
}

#current-index {
    font-size: 1.5rem;
    font-weight: 100;
}

#new-layer-btn {
    position: sticky;
    bottom: 0;
}

#finish-btn {
    width: calc(100% - 2rem);
    margin-top: 1rem;
}

#startup-logo {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--white);
    text-align: center;
    font-family: sans-serif;
    z-index: 50;
}

#startup-logo svg {
    height: 200px;
    width: 200px;
    max-height: 30vh;
    max-width: 30vh;
}

#startup-logo svg path {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    background-color: linear-gradient(-60deg, blue, darkviolet, purple, darkviolet);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scaleY(.95);
    transform-origin: bottom;
    opacity: 0;
    animation: simpleFade 3s ease-in-out;
}

/* Dark mode */
@media (prefers-color-scheme: Dark) {
    html {
        /*background: var(--black);
    color: var(--white);*/
        filter: invert(1);
    }

    * {
        /*filter: invert();*/
    }
}

/* Hover */
@media (hover: hover) {
    a {
        opacity: .8;
        transition: opacity .125s;
    }

    a:hover {
        opacity: 1;
    }

    button, summary {
        color: var(--black);
        background: var(--yellow);
        transition: transform .125s, box-shadow .125s;
    }

    button:hover, summary:hover {
        color: var(--white);
        background: var(--blue);
        /*box-shadow: 0 0 .125rem black;
    transform: scale(1.03);*/
    }

    button:hover svg.inline-icon {
        filter: invert(1);
    }
}