:root {
  --white: #fff;
  --black: #111;
  --yellow: #ff0;
  --blue: #00f;
  --greyTrans: #8a8a8a8a;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
  background: var(--white);
  color: var(--black);
  font-family: sans-serif;
  transition: background .25s ease-in-out;
}
* {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
button {
  background: var(--white);
  color: var(--black);
  font-size: 1rem;
  border: none;
  border-radius: 4px;
}
button:active {
  background: var(--black);
}

nav a, nav span {
  margin: .25rem;
}
.hiding {
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s;
}
.hiding.active {
  pointer-events: all;
  opacity: 1;
}
.prevent-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.cursor-default {
  cursor: default;
}
.control {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
}
.control h1, .control h3, .control p, .control img {
  background: var(--white);
}
.control h1, .control h3, .control p {
  padding: .25rem;
  font-family: monospace;
  font-weight: 100;
  text-align: center;
  line-height: 2;
  background: var(--white);
  letter-spacing: .25em;
}
.control h1, .control h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
.control p {
  font-size: .8rem;
}
@media (min-width: 768px) {
  .control h1, .control h3, .control p {
    letter-spacing: 1em;
  }
  .control h1 {
    font-size: 1.75rem
  }
  .control p {
    font-size: 1rem;
  }
  .control h3 {
    font-size: 1.75rem;
  }
}
.control .cross {
  position: relative;
  height: 10vw;
  width: 1px;
  background: var(--black);
  overflow: visible;
}
.control .cross:after {
  content: "";
  position: absolute;
  top: calc(5vw - 1px);
  left: calc(-5vw + 1px);
  height: 1px;
  width: 10vw;
  background: var(--black);
}
.control .widgets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 15vh;
  width: 15vw;
}
.control .widgets div:nth-child(1) {
  background: var(--white);
}
.control .widgets div:nth-child(2) {
  background: var(--yellow);
}
.control .widgets div:nth-child(3) {
  background: var(--black);
}
.control .widgets div:nth-child(4) {
  background: var(--blue);
}
.control img {
  height: 75px;
  width: 75px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 0 .65rem;
}
#debug-display {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1px;
  background-color: var(--greyTrans);
  text-align: right;
  z-index: 100;
}
#corner-logo {
  position: absolute;
  top: 2px;
  left: 1px;
  height: 1.25rem;
  width: 1.25rem;
  z-index: 150;
  transition: opacity 1.5s;
}
#main-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: calc(1.25rem + 3px);
  padding-left: 1.65rem;
  z-index: 75;
}
#title {
  flex-grow: 1;
}
#controls {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  z-index: 50;
}
#controls > button {
  flex-grow: 1;
  margin: 0;
  background: var(--white);
  border-radius: 0;
  opacity: 0;
  transition: opacity .05s;
}
#controls > button:active {
  opacity: .2;
}
#frame {
  min-height: 100vh;
  width: 100vw;
  transition: background .125s;
}

.layer {
  position: fixed;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
}
.slide {
  position: fixed;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  opacity: 0;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  transition: all .25s;
}
.slide.top {
  transform: translate(0, -100vh);
}
.slide.right {
  transform: translate(100vw, 0);
}
.slide.bottom {
  transform: translate(0, 100vh);
}
.slide.left {
  transform: translate(-100vw, 0);
}
.layer[data-position="INNER"] {
  opacity: .75;
  z-index: 10;
}
.layer[data-position="FOCUSED"] {
  opacity: 1;
  z-index: 0;
}
.layer[data-position="OUTER"] {
  opacity: .75;
  z-index: -10;
}
.layer[data-position="FOCUSED"] .slide {
  opacity: 1;
  transform: translate(0, 0);
}
@keyframes rotateGradient { 
  0% { background-position: 0% 50%; opacity: 0;}
  25% { opacity: 1; }
  57% { transform: scaleY(.85); }
  60% { transform: scaleY(1.1); }
  68% { transform: scaleY(.9); }
  85% { opacity: 1; }
  100% { background-position: 100% 50%; opacity: 0 }  
}
@keyframes swellFade {
  0% { opacity: 0; }
  25% { opacity: 1; }
  57% { transform: scaleY(.93); }
  60% { transform: scaleY(1.05); }
  68% { transform: scaleY(.95); }
  85% { opacity: 1; }
  100% { opacity: 0 }  
}
@keyframes simpleFade { 
  0% { opacity: 0; }
  25% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0 }  
}
#startup-logo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  padding-bottom: 1rem;
  background: var(--white);
  text-align: center;
  font-family: sans-serif;
  z-index: 50;
}
#startup-logo svg {
  height: 190px;
  width: 190px;
  max-height: 30vh;
  max-width: 30vh;
}
#startup-logo svg path {
  opacity: 0;
  animation: simpleFade 1.2s ease-in-out 1;
}
#startup-logo.extended svg path {
  animation-duration: 2s;
}
#no-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
}
#ios {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  background: var(--white);
  text-align: center;
  opacity: 0;
  z-index: 75;
  transition: all 1s;
}
#ios.active {
  padding: 8px;
  background-color: var(--yellow);
  opacity: 1;
}

/* Dark mode */

@media (prefers-color-scheme: Dark) {
  html {
    filter: invert(1);
  }
}

/* Hover */

@media (hover: hover) {
  a {
    opacity: .85;
    transition: opacity .125s;
  }
  a:hover {
    opacity: 1;
  }
}
